.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 120px;
    background: $white;

    &__inner {
        display: flex;
        align-items: center;
        padding: 0 40px;
        justify-content: space-between;
        height: 100%;
    }

    &__logo {
        width: 84px;
        height: auto;
        object-fit: contain;
        display: block;
        cursor: pointer;
        transition: $transition;

        &:hover {
            opacity: 0.7;
        }

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
            display: block;
        }
    }

    &__right {
        margin-left: auto;
        display: flex;
        align-items: center;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 58px;

        &-item {
            font-size: 20px;
            line-height: 20px;
            color: $black-1;
            cursor: pointer;
            transition: $transition;
            display: block;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    &__lang {
        margin-left: 90px;
        transition: $transition;
        cursor: pointer;
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        width: 52px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: 0;
        padding: 0;

        &:hover {
            border-color: $purple;

            .header__lang-icon {
                transform: scale(1.1);
            }
        }

        &-icon {
            width: 24px;
            height: 24px;
            object-fit: cover;
            object-position: center;
            display: block;
            transition: $transition;
        }
    }

    &__btn {
        margin-left: 16px;
    }

    &__menu {
        display: none;

        &-btn {
            display: none;
        }
    }

    @include below(768px) {
        height: 64px;

        &__inner {
            padding: 0 20px;
        }

        &__logo {
            width: 56px;
        }

        &__nav {
            display: none;
        }

        &__lang {
            margin-left: 0;
            width: 40px;
            height: 40px;

            &-icon {
                width: 20px;
                height: 20px;
            }
        }

        &__btn {
            margin-left: 10px;
        }

        
        &__menu {
            position: fixed;
            z-index: 100;
            top: 64px;
            left: 0;
            width: 100%;
            height: calc(100vh - 64px);
            background: $white;
            padding: 20px;
            display: block;

            &-link {
                font-size: 18px;
                line-height: 18px;
                color: $black-1;
                cursor: pointer;
                transition: $transition;
                display: block;
                margin-bottom: 16px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &-btn {
                margin-left: 10px;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $black-1;
                border-radius: 50%;
                cursor: pointer;
                transition: $transition;
                position: relative;

                img {
                    width: 20px;
                    height: auto;
                    object-fit: contain;
                    display: block;
                    position: absolute;
                    transition: $transition;
                }

                .open {
                    opacity: 1;
                }

                .close {
                    opacity: 0;
                }

                &.opened {
                    .open {
                        opacity: 0;
                    }

                    .close {
                        opacity: 1;
                    }
                }
            }
        }
    }
}