.home-page {
    .articles {
        padding-top: 240px;
        padding-bottom: 140px;

        &__title {
            margin-bottom: 60px;
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            row-gap: 40px;
            column-gap: 32px;
        }

        @include below(1280px) {
            &__list {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        @include below(768px) {
            padding-top: 120px;
            padding-bottom: 60px;

            &__title {
                margin-bottom: 32px;
            }

            &__list {
                grid-template-columns: 1fr;
                row-gap: 24px;
            }
        }
    }
}