.home-page {
    .articles {
        padding-top: 240px;
        padding-bottom: 140px;

        &__title {
            margin-bottom: 60px;
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            row-gap: 40px;
            column-gap: 32px;
        }
    }
}