$black: #000;
$white: #fff;
$black-1: #101010;
$purple: #e2beff;

$ttcommons: "TTCommons", sans-serif;
$baseFont: $ttcommons;

$speedDefault: 0.25s;
$easing1: cubic-bezier(0.65, 0.05, 0.36, 1);
$transition: all $speedDefault $easing1;