.checkbox {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;

    &:hover {
        .checkbox__title {
            opacity: 0.7;
        }
    }

    &__input {
        display: none;

        &:checked {
            ~ .checkbox__icon {
                background: $black;
                border-color: $black;

                img {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: $transition;
        border-radius: 4px;
        border: 1px solid $gray-1;

        img {
            width: 10px;
            height: auto;
            object-fit: contain;
            display: block;
            transform: scale(0.5);
            opacity: 0;
            transition: $transition;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        transition: $transition;
    }
}
